.producteurice-section
  h2
    margin-bottom: 5rem !important

.photo-banner
  text-align: center

.fonctionnement-section
  h2
    margin-bottom: 3.5rem !important
  .fonctionnement-detail
    margin-top: 2rem
    font-size: 1.4rem
    line-height: 1.2
    color: $amap-brown

+desktop
  .fonctionnement-section
    img
      max-width: 50%
