{{ define "main" }}
<main aria-role="main">
  {{ $salad_pic := resources.Get "images/salad.png" }}
  {{ $texture_pic := resources.Get "images/texture.png" }}
  <section class="landing-header" >
    <div class="landing-header_picture" style="background-image: url('{{ $salad_pic.Permalink }}')">
      <div class="landing-header_container" style="background-image: url('{{ $texture_pic.Permalink }}')">
        <h1 class="title is-1 has-text-centered is-uppercase">{{.Site.Data.config.title}}</h1>
        <p class="subtitle is-3 has-text-centered is-uppercase">{{.Site.Data.config.baseline}}</p>
      </div>
    </div>
  </section>

  <section class="section producteurice-section">
    <div class="container">
      <h2 id="producteurices" class="title is-size-3 has-text-centered is-uppercase">{{.Params.producteurices_title}}</h2>
      <div class="columns is-multiline">
        {{ range $.Site.Data.producteurices }}
          {{ $icon := resources.Get .icone }}
          <div class="column is-3">
            <div class="categorie-block has-text-centered">
              <div class="categorie-image-container mb-4">
                <img src="{{ $icon.Permalink }}" alt="icone {{ .categorie }}">
              </div>
              <h4 class="title is-4">{{ .categorie }}</h4>
              <ul>
                {{ range .producteurices }}
                  <li class="producteurice-block">
                    <div>
                      <p>
                        {{ if .website }}
                          <a href="{{ .website }}"> {{ .nom }} </a>
                        {{ else }}
                          {{ .nom }}
                        {{ end }}
                        : {{ .produit }}
                      </p>
                    </div>
                  </li>
                {{ end }}
              </ul>
            </div>
          </div>
        {{ end }}
      </div>

    </div>
  </section>

  {{ $photo_banner := resources.Get "images/banniere-01.png" }}
  <div class="photo-banner">
    <img  src="{{ $photo_banner.Permalink }}" alt="photos des producteurices">
  </div>

  <section class="section fonctionnement-section">
    <div class="container">
      <h2 id="comment" class="title is-size-3 has-text-centered is-uppercase">{{.Params.fonctionnement_title}}</h2>
      <div class="columns">
        {{ range .Params.fonctionnement_detail }}
          <div class="column is-3 has-text-centered">
            {{ $icon := resources.Get .icon }}
            <img src="{{ $icon.Permalink }}" alt="icone">
            <div class="fonctionnement-detail">{{ .content | markdownify }}</div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>

  <section class="section interligne-section has-text-centered has-background-danger">
    <p class="title is-4 has-text-white">De la ferme à chez vous !</p>
  </section>

  <section class="description-section">
    <div class="columns">
      <div class="column is-half description-text-column">
        <div class="description-text">
          <div class="container">
            <h2 id="association" class="title is-size-3">{{.Params.historique_title}}</h2>
            <div class="content">
              {{ .Params.historique_content | markdownify  }}
            </div>
          </div>
        </div>
      </div>
      <div class="column is-half description-image-column">
        <div class="">
          {{ $photo_historique := resources.Get "images/image-02.png" }}
          <img  src="{{ $photo_historique.Permalink }}" alt="photos de vie de l'AMAP">
        </div>
      </div>
    </div>
  </section>
  
  <section class="section interligne-section has-text-centered has-background-secondary" style="background-image: url('{{ $texture_pic.Permalink }}')">
    <p class="title is-3">{{ .Params.inscription_title }}</p>
    <div class="content is-size-4">{{ .Params.inscription_content |  markdownify }}</div >
  </section>


  <section class="section">
    <div class="container">
      <div class="columns">
        <div class="column is-6 is-offset-6">
      <h2 id="contact" class="title is-size-3 is-uppercase">{{.Params.contact_title}}</h2>
      <div class="main-contacts mb-3 is-size-4">
        {{ range .Params.contacts }}
          <p>
          {{ if eq .type "email" }}
            <a href="mailto:{{ .contenu}}">{{ .contenu }}</a>
          {{ else if (eq .type "telephone") }}
            <a href="tel:{{ replaceRE "(\\s)" "" .contenu }}">{{ .contenu }}</a>
          {{ end }}
          {{ with .precision }} {{.}} {{ end }}
          </p>
        {{ end }}
      </div>
      <div class="content">
        {{ .Params.contact_content | markdownify  }}
      </div>
        
        </div>
      </div>
    </div>
  </section>
</main>
{{ end }}