<header class="header">
  <nav class="navbar is-white">
    <div class="container">
      <div class="navbar-brand brand-title">
        <a class="navbar-item" href="{{ .Site.BaseURL }}">
          AMAP'arcelle Solidaire
        </a>
        <div class="navbar-burger burger" data-target="navbar-menu">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </div>
      <div id="navbar-menu" class="navbar-menu">
        <div class="navbar-end">
          {{ $current := . }}
          {{ range .Site.Menus.main }}
            {{ $active := or ($current.IsMenuCurrent "main" .) ($current.HasMenuCurrent "main" .) }}
            {{ $active = or $active (eq .Page $current) }}
            {{ $text := print .Name | safeHTML }}
            <a class="navbar-item {{ if $active }}active{{ end }}" href="{{ .URL }}">{{ $text }}</a>
          {{ end }}
          <a class="navbar-item" href="{{ .Site.BaseURL }}">Accueil</a>
          <a class="navbar-item" href="#producteurices">Nos producteurices</a>
          <a class="navbar-item" href="#comment">Comment ça marche</a>
          <!--
          <a class="navbar-item" href="#association">L'association</a>
          -->
          <div class="navbar-item">
            <a class="button is-primary" href="https://contrats2.amapj.fr/p/quevert" target="_blank">AmapJ</a>
          </div>
          <a class="navbar-item" href="#contact">Contact</a>
        </div>
      </div>
    </div>
  </nav>
</header>